<main class="group">
<p id="notice"><%= notice %></p>

  <% @groups.each do |group| %>
    <%= link_to(group, class: 'block-link') do %>
        <div class="project-card">
            <div class="project-card__img" style="background-image: url(<%= rails_blob_url(group.icon) %>)">
             </div>
            <div class="project-card__body">
              <div class="project-card__body__upper">
                <div class="project-card__body__upper__title">
                  <%= group.name %>
                </div>
              </div>    
              <div class="project-card__body__bottom">
                <%= group.created_at.to_date.to_formatted_s(:long) %>
              </div>
            </div>
        </div>
    <%end%>
    <div class="buttons">
      <%= link_to 'Edit', edit_group_path(group), class: 'edit-button' %>
      <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
    </div>
  <% end %>



<br>

<%= link_to(new_group_path, class: 'block-link') do %>
<div class="new-project-button flex-center">
  <div class="new-project-button__div flex-center">
    New Group
  </div>
</div>
<% end %>
</main>