<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurProjects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ad0c4e912f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="gray-background">
    <%= render :partial => 'shared/navbar' unless home? || profile? %>
    <%= yield %>
  </body>
</html>
